{% extends "base.html" %}
{% load static %}

{% block contact %}
<!-- Welcome to Commucation section -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">Communication Platforms.</h1>
      </div>
    </hr>
    <div class="col-12">
      <p class="lead"><div class="col-12">Good communication platform is key in any organization. Virtual Writer Kings has put that in place to ensure that our customers reach us with minimal strain.</p>
    </div>
      </div>
    </div>
    
    <!-- Three communucation Mediums -->
    <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>WhatsApp</h3>
        <i class='fab fa-whatsapp-square' style='font-size:48px;color: green'></i>
        <p>You are allowed to share your assignment via whatsapp since it saves time, eassy to make clarifaction and there is immidiate response.</br>
      whaatsapp Phone No: 254726932005
      </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>Call</h3>
        <i class="fa fa-phone" style="font-size:48px;color: blue"></i>
       
        <p>Phone call is the best way to get a personal response. Calls give room for a customer to give detailed information on a given assignment.</br>
       Phone No:<ul>
        <li><a href="index.html">+254729503931</li></a>
        <li><a href="Isaiah">+36707707679</li></a>
        </ul>
      </p>
      </div>
      <div class="col-xs-12  col-md-4">
        <h3>Email</h3>
        <i class="fa fa-envelope" style="font-size:48px;color:red"></i>
        <p> Feel free to contact us. Our support will respond back within the minimum time possible. We value our customers most.</br>
          <a href="mailto:virtualwriterkings@gmail.com">Send Email</a></br>
          Email:<a href="index.html"> virtualwriterkings@gmail.com</a>
          </p>
      </div>
    </div>
   {% endblock contact %}