{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h2 style="text-align: center;"><span style="color: palegreen;">Daniel Epplin's Profile</span></h2>
<div class="team row ">
    <div class="col-md-4 col-12 text-center">
        <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img class="card-imd-top" src="{% static 'images/Daniel.png' %}" class="img-fluid border-radius p-4" alt="">
              
            </div>
            <div class="card-body">
              <h3 class="card-title">Daniel Epplin</h3>
              <p class="card-text">
                <p class="text-black-50"> Sinior CEO</p>
                <p>Online Academic Tutor with 12 Years of Experience</p>
     
            </div>
          </div>
        </div>
    </div>
<p>I am a proficient essay writer with tremendous experience traversing for more than 12 years. Within this time, I have possessed the capacity to give exposition help to a differing pool of customers. I exceed expectations in paper composition administration and present the best scholarly and explore assignments. Opportunity to learn more besides utilizing my talents and skills to serve those who need them. I understand that offering the best essays; one must be submitted and guarantee that what they give meets as well as surpasses consumer loyalty. At the point when a customer gives me his or her task, I need to experience the guidance to acquaint myself on what the paper requires and furthermore to ensure that I can deal with it. I will likewise deal with the assignment only when I know I have the necessary ability to handle the work.</p>

<p>I Also write essays for customers from the high school level up to Ph.D. I have expertise in handling multiple subjects, but I approach every piece with an open mind and a will to meet new challenges. Sometimes I even go that extra mile to ensure each client who orders an essay from me comes back another day. However, since I endeavor to provide nothing but the best articles, I only go for orders that I am confident of completing excellently within the stipulated deadline. Therefore, I read all the customers’ instructions and any available additional requirements for the assignments before I request for them.</p>


<p>More importantly, I write unique essays based on extensive research and intense reading. I have access to some library links including; Academic Search Premier and ProQuest, some of the critical online resources where I get peer-reviewed articles to authenticate my scholarly arguments. I am always careful to appropriately cite and reference information obtained from published or unpublished works of other authors in my essays.</p>

<p>I am well versed in various writing styles such as MLA, APA, Chicago/Turabian, IEEE, and Harvard. I have handled papers across different academic levels ranging from Ph.D. level, Master’s level, and undergraduate degree as well as high school level papers, and I am willing to venture into new territories for the sake of my clients and my personal development. Other specialties include research papers, research proposals, annotated bibliographies, reports, book and article reviews, question and answers, business plans, case studies, and dissertation writing.</p>
{% endblock content %}
