{% extends "base.html" %}
{% load static %}


 


{% block discipline %} 
	<style>
	body{
		background:url({% static 'images/showcase.jpg' %});
	
	}
	</style>
	
		
	
<h1>We offer services in the Following Disciplines </h1>
<li>A
<li>Accounting
<li>Algebra
<li>Applied Sciences
<li>Architecture and Design
<li>Art & Design
<li>Article Writing
<li>	B
<li>Biology
<li>Business & Finance
<li>C
<li>Calculus
Chemistry
Communications
Computer Science
<li>	E
<li>Economics
<li>Engineering
<li>English
<li>Environmental Science
<li>	F
<li>Film
<li>Foreign Languages
<li>	G
<li>Geography
<li>Geology
<li>Geometry
<li>	H
<li>Health & Medical
<li>History
<li>HR Management
<li>	I
Information Systems
Iformation Technology
<li>L
<li>Law
<li>Literature
<li>	M
<li>Management
<li>Marketing
<li>Math
<li>N
<li>Numerical Analysis
<li>	P
<li>Philosophy
<li>Physics
<li>Political Science
<li>Precalculus
<li>Programming
<li>Psychology
<li>	S
<li>Science
<li>Social Science
<li>Statistics
<li> Any many thers
</ul>

{% endblock discipline %} 