{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h2 style="text-align: center;"><span style="color: palegreen;">Isaiah Ndege's Profile</span></h2>
<div class="team row ">
    <div class="col-md-4 col-12 text-center">
        <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
                <img class="card-imd-top" src="{% static 'images/iso1.jpg' %}" class="img-fluid border-radius p-4" alt="">
            </div>
            <div class="card-body">
              <h3 class="card-title">Isaiah Ndege</h3>
              <p class="card-text">
              <p class="text-black-50">Director</p>
            
              <p>Tutor University of Nairobi With 3  Years of Experience</p>
              </br>
            
              
            </div>
          </div>
    </div>
  </div>
 


<p>I begin working by reading its requirements and attachments, and I read the directions from the client. I compare these requirements against the assignment and ensure that there is a clear way through which I can work to the completion of the task. From this point, I know that I can deliver their work as per the specific demands.</p>

<p>My primary emphasis when providing custom essays is to ensure all my papers are 100% original. I understand that plagiarism is an offense that is intolerable in academic writing. As a great writer, I believe in delivering original and quality jobs to my clients. Plagiarizing the work of other scholars is not only unethical but can also jeopardize a student’s academic progress. Therefore, I am committed to safeguarding the interests of my clients. My experience in various formatting styles, for instance, MLA, APA, Harvard, Chicago and Turabian, OSCOLA among others guarantees that the final piece is of high quality and plagiarism-free. Customers can hire me and rest assured I will deliver papers that are formatted according to the most recent referencing requirements.</p>

<p>Before I start working on a paper, I read and ensure I understand every aspect of order instructions or description. I am also keen to confirm if there are additional assignment files sent by the customer. Customer service remains critical in every transaction. Therefore, I understand the importance of timely communication with customers via the chat section for purposes of clarification and assuring the client of the progress. I am always available in case a customer needs any explanation on the drafts and final works delivered.</p>

<p>As a diligent and confident writer, I possess a wide range of skills in research and particular, qualitative and quantitative analysis. Also, with strong analytical skills and expertise in research papers, term papers, and dissertations, I consider myself legible to hand any academic or business work that will highly benefit the client. In addition to writing, I offer excellent proofreading, reorganization, and formatting of papers. I also do write business plans to help young entrepreneurs to spot viable opportunities and capitalize on their skills to earn a meaningful living through business ventures.</p>
<p>I always allocate time to communicating with customers and giving them updates on the progress of my current tasks. My availability enables me to work on both urgent and long-term papers. Also, in the case that a student requests a revision, I can withstand the urgency and deliver a paper within the shortest time possible. My experience with other companies enabled me to develop practical communication skills, which have always enhanced my relationship with clients.   

{% endblock content %}