{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h2 style="text-align: center;"><span style="color: palegreen;">Kate Kingstone's Profile</span></h2>
<div class="team row ">
    <div class="col-md-4 col-12 text-center">
        <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
                <img class="card-imd-top" src="{% static 'images/work1.jpg' %}" class="img-fluid rounded-circle w-50 p-4" alt="">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Kate Kingstone</h3>
                    <p class="card-text">
                      <p class="text-black-50">Secretary</p>
                    </p>
                   <p>Teacher Unversity of Newcastle with 7 years of familiarity.</p>
                   
                  </div>
                </div>
              </div>
              <p>I have over four years of experience in content writing and delivering quality essays within the deadline. I am a dedicated writer who is keen on time management and always strive to produce high-quality papers to meet the expectations of my client. With four years of experience in the writing industry, I have honed my skills, and I am capable of handling papers in various fields. I believe that a customer is a king and my aim is always to provide them with the best essays at an affordable price and within the deadline. I work with high professionalism, and I am always available to handle any queries from my customers.</p>

<p>With over four years of experience in this industry, I have acquired the skills and competence to work on various subjects at the same time. Some of the areas of my expertise include Economics, Finance, Accounting, Business Studies, Marketing, proofreading, and editing. Having worked with different content writing companies, I acquired various skills. Some of the given skills include mastery in Ms. Excel, PowerPoint, E-Views, SPSS, and QuickBooks. I have experience handling complex assignments within a short time using the above software.</p>


<p>I always strive to be the best in what I am doing, and I will dedicate myself to provide my clients with the best quality papers. I have a good grasp of English - an advantage which always ensures that my papers are devoid of any grammatical errors. Being in a good relationship with tools such as Turnitin, I always ensure that my essays are free of plagiarism. To ensure that my customers excel in their studies I can help with handling the following assignments: term papers, essays, online discussions, research project, research proposal, and capstone projects.</p>


<p>I am conversant with different formatting styles some which include APA, MLA, Harvard, Chicago, and Oxford. Besides this, I believe that constant communication with my clients can ensure that I address any of their queries. I always try to stay online most of the time to be prompt on attending to my client's requests. Following the rules of the company, I usually provide a draft copy to my clients to ensure that they can monitor my progress.</p>


<p>I guarantee that my customers will receive excellent work and anyone who need a good paper, feel free to hire me.</p>

              

{% endblock content %}