{% extends "base.html" %}
{% load static %}


{% block terms %}
<style>
    body{
        background:url({% static 'images/terms2.jpg' %}) no-repeat;
background-size: cover;
    }
</style>
<div class="container">
<h1 style="text-align:center";>Terms and Conditions</h1>
<h3 style="font-weight: bold;">Parties</h3>
These Terms and Conditions ("Agreement", "Contract") is the agreement between Virtual Writer Kings, a website of Global Writing Network and you the Customer. </br>
<h3 style="font-weight: bold;">Fees and transaction payments</h3>
The Customer agrees to pay the “Order Fee” to the Company as set in the order form according to all project details.<i style="color: red";> Before commence of the project or task assignened the customer Must have made at <b>least 50%</b> payment of the agreed price.</i>N/B There is NO exemptions on payment terms. Any deductions, additional charges or discounts are set only upon agreement between the Customer and the Company. </br>
<h3 style="font-weight: bold;">Privacy</h3>
The information shared in this website remains cinfidential between the customer and the company unless authorized by the client.
<h3 style="font-weight: bold;">Services Offered</h3>
The Company provides services of academic assistance to the Customer that is delivered in the form of written document (“Project” or “Order”) in Microsoft™® Word™, Power Point™, and Excel™ format to the Customer’s personal account on the Company’s website. </br>
<h2 style="font-weight: bold;">Conditions of Service</h2>
For <i style="color: red";>“Order Requirements”</i> include all information entered in the order form while posting the Order. The Company will ensure that the Project is made on relevant expertise level and in accordance with Order Requirements. However, the Company does not guarantee: </br>
<ul>
<li>For web writing Projects: any SERPs results for websites, increasing traffic, return on investment, etc.</li> 
</li>For business writing: job interview, successful hire, ROI for business, etc.</li>
<li>For academic writing: specific academic grade for the Projects submitted to the Customer, for the following reasons: the Project bears the nature of “academic assistance”, and the grade can depend on a number of factors beyond the Company’s competence including but not limited to, overall Customer performance during the term, personal professor’s attitude, additional course materials not provided by the Customer, and Customer’s presentation of the Project.</li> </br>
</ul>
Therefore the Customer hereby acknowledges that they fully understand that Company’s obligations are limited with producing research Project compliant with Order Requirements and delivered by agreed time. </br>
<h3 style="font-weight: bold;">Revision, Refund and Cancellation Policy</h3>
The Company will accept revision requests from the Customer only within 30 days upon the Project submission. The Company will revise the Project free of charge within shortest possible time. <i style="color: red";>For any unsatisfactory paper (below 70%) we owe the customer a sincere apology plus 100% refund of the amount invested.</i> 
</div>
{% endblock terms %}
