{% extends "base.html" %}
{% load static %}

   {% block content %} <!-- Carousel Wrapper-->
   <style>
     
     #class{
background:url({% static 'images/confidence.jpg' %}) no-repeat;
background-size: cover;
min-height: 400px;
color: #ffffff;
text-align: center;
}
  
.why {
  column-count: 2;
  column-gap: 30px;
}
.terms{
width: 80%;
margin: 0;
overflow: hidden;
}
.column {
  float: left;
  width: 50%}

  /* slider */
  slider one 
.site-slider{
  position: relative;

    }
    position-top{
  position: absolute;
    top: 50%
}

.site-slider.slider-btn.prev, 
site-slider.slider-btn.next{
    background-color: white;
    padding: 1 rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
}

   </style>
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  
<!--/.Carousel Wrapper -->
<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slides-to="0" class="active"></li>
    <li data-target="#slides" data-slides-to="1"></li>
    <li data-target="#slides" data-slides-to="2"></li>
    </ul>
   
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/academic.jpg' %}"style="height: 410px;">
      <div class="carousel-caption">
        <h1 class="display-2">Virtual Writer Kings</h1>
        <h3>Academic Zone Number 1</h3>
        <!-- <button type="button" class="btn btn-outline-light btn-lg">Order Now!</button> -->
        <button type="button" class="btn btn-primary btn-lg"><a href="/orders/"><span style="color: white",>Order Now!</span></a></button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/showcase.jpg' %}"style="height: 410px;">
      <div class="carousel-caption">
        <h1 class="display-2">Virtual Writer Kings </h1>
        <h3>100% Plagiarism Free Work</h3>
        <!-- <button type="button" class="btn btn-outline-light btn-lg">Order Now!</button> -->
        <button type="button" class="btn btn-primary btn-lg"><a href="/orders/"><span style="color: white",>Order Now!</span></a></button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/sleepless.jpg' %}" style="height: 410px;">
      <div class="carousel-caption">
        <h1 class="display-2">Virtual Writer Kings</h1>
        <h3>No More Sleepless Nights </h3>
        <!-- <button type="button" class="btn btn-outline-light btn-lg">Order Now!</button> -->
        <button type="button" class="btn btn-primary btn-lg"><a href="/orders/"><span style="color: white",>Order Now!</span></a></button>
      </div>
    
      </div>
    </div>
  </div>
</div>
</div>

<!-- Jumbotron -->
<div class="container-fluid">
  <div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p class="lead">Dear Customer, Remember that You can Make an order Without Necessarily Creating Account With Us.</p>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
        <button type="button" class="btn btn-primary btn-lg"><a href="/orders/"><span style="color: white",>Order Now!</span></a></button>

    </div>
  </div>
</div>

<!-- Welcome to Commucation section -->
<div class="container-fluid padding">
<div class="row welcome text-center">
  <div class="col-12">
    <h4 class="display-4">Communication Platforms.</h4>
  </div>
</hr>
<div class="col-12">
  <p class="lead"><div class="col-12">Good communication platform is key in any organization. Virtual Writer Kings has put that in place to ensure that our customers reach us with minimal strain.</p>
</div>
  </div>
</div>

<!-- Three communucation Mediums -->
<div class="container-fluid padding">
<div class="row text-center padding">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h3>WhatsApp</h3>
    <i class='fab fa-whatsapp-square' style='font-size:48px;color: green'></i>
    <p>You are allowed to share your assignment via whatsapp since it saves time, easy to make clarifaction and there is immidiate response.</br>
  whaatsapp Phone No: 254726932005
  </p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h3>Call</h3>
    <i class="fa fa-phone" style="font-size:48px;color: blue"></i>
   
    <p>Phone call is the best way to get a personal response. Calls give room for a customer to give detailed information on a given assignment.</br>
   Phone No(s):+254729503931</li> or+36707707679</li>

  </p>
  </div>
  <div class="col-xs-12  col-md-4">
    <h3>Email</h3>
    <i class="fa fa-envelope" style="font-size:48px;color:red"></i>
    <p> Feel free to contact us. Our support will respond back within the minimum time possible. We value our customers most.</br>
      <a href="mailto:virtualwriterkings@gmail.com">Send Email</a></br>
      Email:<a href="index.html"> virtualwriterkings@gmail.com</a>
      </p>
  </div>
</div>
<hr class="my-4">
</div>

<!-- Two Column Section -->
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-md-12 col-lg-6">
      <h2>If You Assign Us...</h2>
      <p>We offer solutions to all your writing requirements. Our services are exquisite and exemplary, simply unparalleled. You will receive customized original papers of the finest quality every time you entrust us with your assignment. We have lots to offer, so navigate our site to gain familiarity with the perks you gain ranging from writing services, exemplary and original quality, unemployed professors, and guarantees.</p>
    <br>
    <a href="#" class="btn btn-primary">Learn More</a>

    </div>
    <div class="col-lg-6">
      <img src="{% static 'images/kate.jpg' %}" class="img-fluid">
    </div>
  </div>
</div>
<hr class="my-4">
<figure>
  <div class="fixed-wrap">
    <div id="fixed">

    </div>
  </div>
</figure>

<!-- Emoji -->
<button type="button" class="btn btn-primary btn-lg"><a href="/orders/"><span style="color: white",>Order Now!</span></a></button>
<div id="emoji" class="collapse">
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-sm-6 col-md-3">
        <img src="{% static 'images/kate.jpg' %}">
      </div>
    </div>
  </div>
</div>
<!-- Payments -->
<section class="section-4">
  <div class="container text-center">
    <h1 class="text-dark">Payment Methods</h1>
    <p class="text-secondary">Simple and Trasparent Transactions</p>
  </div>
  <div class="team row ">
    <div class="col-md-4 col-12 text-center">
        <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img src="{% static 'images/applepay.png'%}" class="img-fluid border-radius p-4" alt="">
            </div>
            <div class="card-body">
              <h3 class="card-title">Why ApplePay</h3>
              <p class="card-text">
                Apple Pay help boost conversions on sales as it promotes a more secure way of keeping and spending funds.With Apple Watch, consumers are able to make instant payment at their convenience.</br>
                <a href="#">Apple Pay No: 254729503931</a>
              </p>
              <!-- <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
              <p class="text-black-50">CEO at Google</p> -->
            </div>
          </div>
    </div>
    <div class="col-md-4 col-12">
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
            <div class="carousel-inner text-center">
              <div class="carousel-item active">
                <div class="card mr-2 d-inline-block shadow">
                  <div class="card-img-top">
                    <img src="{% static 'images/paypal.jpg'%}" class="img-fluid rounded-circle w-50 p-4" alt="">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Why PayPal</h3>
                    <p class="card-text">
                      Cheaper method of payment. It is also available when needed. Payoneer has fair charges as compared to paypal. Also, creating an account with paypal has few legal procedures.</br>
                        <b>Papal account email:</b><a href="contacts"> virtualwriterkings@gmail.com</a>
                    <!-- </p>
                    <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                    <p class="text-black-50">CEO at Google</p> -->
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card  d-inline-block mr-2 shadow">
                  <div class="card-img-top">
                    <img src="{% static 'images/paypal.jpg'%}" class="img-fluid rounded-circle w-50 p-4" alt="">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Why PayPal</h3>
                    <p class="card-text">
                      Cheaper method of payment. It is also available when needed. Payoneer has fair charges as compared to paypal. Also, creating an account with paypal has few legal procedures.</br>
                      <b>Papal account email:</b><a href="contacts"> virtualwriterkings@gmail.com</a>
                    </p>
                    <!-- <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                    <p class="text-black-50">CEO at Google</p> -->
                  </div>
                </div>
              </div>
          </div>
    </div>
    </div>
    <div class="col-md-4 col-12 text-center">
        <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img src="{% static 'images/payoneer.jpg'%}" class="img-fluid border-radius p-4" alt="">
            </div>
            <div class="card-body">
              <h3 class="card-title">Why Payoneer</h3>
              <p class="card-text">
                 Cheaper method of payment. It is also available when needed. Payoneer has fair charges as compared to paypal.</br><b>Payoneer account email:</b><a href="payments"> virtualwriterkings@gmail.com</a>
                
              </p>
              <!-- <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
              <p class="text-black-50">CEO at Google</p> -->
            </div>
          </div>
    </div>
  </div>
</section>
</main>

<!-- yyyy -->

<hr class="my-4">
<figure>
  <div id="fixed-wrap">
    <div id="fixed">

    </div>
  </div>
</figure>
<!-- Management Team -->
<div class="container-fluid padding">
<div class="row welcome text-center">
  <div class="col-12">
    <h1 class="display-4">Management Team</h1>
  </div>
  <hr>
</div>
</div>
<!-- Management Cards -->

<!-- Section 4 -->
<section class="section-4">
  <div class="container text-center">
    <h1 class="text-dark">We are Made up of Real Leaders</h1>
    <p class="text-secondary">By Offering Quality Services 27/7</p>
  </div>
  <div class="team row ">
    <div class="col-md-4 col-12 text-center">
        <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img class="card-imd-top" src="{% static 'images/Daniel.png' %}" class="img-fluid border-radius p-4" alt="">
              
            </div>
            <div class="card-body">
              <h3 class="card-title">Daniel Epplin</h3>
              <p class="card-text">
                <p class="text-black-50">CEO</p>
                <p>Online Academic Tutor with 12 Years of Experience</p>
      <button type="button" class="btn btn-primary btn-lg"><a href= "/accounts/daniel/"><span style="color: white",>View More</span></a></button>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-12">
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
            <div class="carousel-inner text-center">
              <div class="carousel-item active">
                <div class="card mr-2 d-inline-block shadow">
                  <div class="card-img-top">
                    <img class="card-imd-top" src="{% static 'images/work1.jpg' %}" class="img-fluid rounded-circle w-50 p-4" alt="">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Kate Kingstone</h3>
                    <p class="card-text">
                      <p class="text-black-50">Secretary</p>
                    </p>
                   <p>Teacher Unversity of Newcastle with 7 years of familiarity.</p>
                   <button type="button" class="btn btn-primary btn-lg"><a href= "/accounts/kate/"><span style="color: white",>View More</span></a></button>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card  d-inline-block mr-2 shadow">
                  <div class="card-img-top">
                    <img class="card-imd-top" src="{% static 'images/omuga.jpg' %}" class="img-fluid rounded-circle w-50 p-4" alt="">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Zeph Zephy</h3>
                    <p class="card-text">
                      <p class="text-black-50">Chief Officer Billing Department</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p>Proffessional mentor with about 8 years of experience</p>
                    <button type="button" class="btn btn-primary btn-lg"><a href= "/accounts/zephy/"><span style="color: white",>View More</span></a></button>
                  </div>
                </div>
              </div>
          </div>
    </div>
    </div>
    <div class="col-md-4 col-12 text-center">
        <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img class="card-imd-top" src="{% static 'images/iso1.jpg' %}" class="img-fluid border-radius p-4" alt="">
            </div>
            <div class="card-body">
              <h3 class="card-title">Isaiah Ndege</h3>
              <p class="card-text">
              <p class="text-black-50">Director</p>
              <br>
                    <br>
                    <br>
              <p>Tutor University of Nairobi With 3  Years of Experience</p>
              </br>
            
              <button type="button" class="btn btn-primary btn-lg"><a href= "/accounts/isaiah/"><span style="color: white",>View</span></a></button>
            </div>
          </div>
    </div>
  </div>
</section>
</main>

<!-- kkkk -->
<!-- <div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-4">
      <div class="card">
        <img class="card-imd-top" src="{% static 'images/iso1.jpg' %}">
        <div class="card-body">
          <h4 class="card-title">Isaiah Ndege</h4>
          <p>Tutor university of Nairobi With 3 Years of Experience</p>
          <button type="button" class="btn btn-primary btn-lg">See Isaiah's Profile</button>
        </div>
      </div>
</div>

<div class="col-md-4">
  <div class="card">
    <img class="card-imd-top" src="{% static 'images/Daniel.png' %}">
    <div class="card-body">
      <h4 class="card-title">Daniel Epplin</h4>
      <p>Online Academic Tutor with 12 Years of Experience</p>
      <button type="button" class="btn btn-primary btn-lg">See Daniel's Profile</button>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card">
    <img class="card-imd-top" src="{% static 'images/aldrie.jpg' %}">
    <div class="card-body">
      <h4 class="card-title">Aldrie </h4>
      <p>PHD in Information Communication and Technology</p>
      <button type="button" class="btn btn-primary btn-lg">See Adrie's Profile</button>
    </div> -->
    <!-- </div>
</div> -->
<section id="Informations">
  <div class= "container">
  <h1 style="color: blue";> <b style="text-align: center;">What you Should Know about Virtual Writer Kings</h1></b>
  
  <div class="why">
<h2 style="color: black";><b>Essay Writing Service with Vast Experience</b></h2>
<p>Virtual Writer Kings has been helping students with their studies since 2012. With over 8 years in the industry, we have perfected in online writing and tutoring.Thousands of students have been helped to reach their full academic potential by connecting them with the best-qualified essay writers across the globe.</p>
<p>We offer papers of all academic levels, including high school, college, and university. Our professionals are capable of writing all types of assignments, including but not limited to case studies, research papers, assignments, dissertations, term papers, M/As, and doctorates. No matter the subject, we always deliver high-quality custom writing orders.</p>
<p>Every paper that our essay writing service produces is done exactly as the customer requests. Our quality assurance team makes sure each paper is done to our standards, and we guarantee no plagiarism or your money back. Our writer managers always monitor our writing team, so you can be sure each paper received will be top-notch.</p>
<p>When students decide to hire one of our essay writers, they will no longer need to worry about their deadlines of slipping grades. Our writers are professionals who have many years of experience in the field of writing. We guarantee that the paper you receive will be 100% unique and of the highest quality. Our writers will view your guidelines and keep all your recommendations in mind when writing your paper. To help you even further, send your writer a sample of your writing, and they will even mimic your style.</p>
<h2 style="color: black";><b>Select Your Personal Online Essay Writer</b></h2>
<p>Our goal is to create a user-friendly platform that has a professional catalog of top-notch essay writers. Connecting every customer with a professional writer who meets their needs is a top priority for us. Our intuitively designed platform will make the process of hiring a writer easy and painless. Browse our catalog of hundreds of writers and choose a professional who specializes in the topic of your paper. No matter the topic, we have a professional writer who specializes in it.</p>
<p>Each writer has their own profile where you can check their success rate, subject specification, and overall satisfaction rate from customers. Apart from that, each profile also contains a short biography of the writer to give you a deeper understanding of who they are. Also on the profile, there is a review section where you can read comments made from previous clients. All this information about the writer is here to help you make an informed decision before you place an order.</p>

  <h2 style="color: black"; ><b>Key Benefits of Working With a Professional Essay Writer</b></h2>
<p>We started our writing service to help struggling students improve their academics by connecting them with the best online essay writers. Your deadlines will always be met when you hire a writer with us because even if you need your paper written in just 6 hours, our professionals can accomplish that. No matter if your deadline is in 6 hours or 2 weeks, we will have your paper ready. No matter the time or day that your paper is due, you can be sure that our writers will meet your deadline.</p>
<p>Users can choose from our large catalog of writers who specialize in various fields. Our professionals have many years of experience writing and even hold higher education degrees like PhDs. We will provide you with a quality paper at an affordable price. Our satisfaction guarantee promises that the paper you order will be up to your standards or your money back. We can make this promise because our quality assurance team monitors every writer’s performance.</p>

<h2 style="color: black";><b>User-Friendly Essay Service</b></h2>
<p>Virtual Writer Kings boasts a very convenient, intuitive, and easy-to-use essay service website. We work hard to make sure the experience of every user is positive. Our customer support team is always standing by ready to answer any questions you may have about our service. Also, our service is 100% legitimate and legal, so you shouldn’t be concerned with ordering from us.</p>
<p>We also understand that transparency brings trust, so this is why we have reviews of our website and writers published our website. Feel free to browse the reviews that real users wrote about our service. We value our community and strive to make our product better with every update. We’re here to help you make an informed decision, so if you have any questions about our service, please contact our 24⁄7 customer support team.</p>

<h2 style="color: black";><b>Outstanding Essay Writers & High Quality Essay Service</b></h2>
<p>Is your social life being taken over by your student life? Are you struggling to balance work with your academics? If these sounds like you, or you are just busy in general because of school, then you have come to the right place. Using our essay writing service, students will have the rare opportunity to relieve the stress of school and focus on work or other high priority tasks.</p>
<p>The answer to all your time and academic problems is Virtual Writer Kings. Don’t be bound by your homework, essays, research papers, or any type of school work ever again.</p>


</div>
  </div>
  </section>
  <section class="section-4">
  <div class="container text-center">
    <h1 class="text-dark">Reviews and Coments From Our Customers</h1>
  </div>
  <!--Carousel Wrapper-->
<div class="container">
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="col-md-4">
        <div class="card mb-2">
          <img  src="{% static 'images/aldrie.jpg'%}" class="avatar" alt="Card image cap">
        
          <div class="card-body">
            <h4 class="card-title">Hellen Dee</h4>
            
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
           
            <p class="card-text"> Honestly, I have a reason to stay working with Virtual Writer Kings. For my 12 papers, the minimum score was a 'B'. I am proud of you. Cheers!!
          </p>
            
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img  src="{% static 'images/e.jpg'%}" class="avatar" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Kingsley</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            
            <p class="card-text">Excellent work submitted to me for review with plenty of time to spare. Allow me to have a personal touch with the writer who did my paper.</p>
            <!-- <a class="btn btn-primary">Button</a> -->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img  src="{% static 'images/w5.jpg'%}" class="avatar" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Eagle Eye</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br>
                    <br>
                    <br>
            <p class="card-text">Virtual Writer Kings did a wonderful job, very well written paper, followed instructions, and delivered on time.</p>
            <!-- <a class="btn btn-primary">Button</a> -->
          </div>
        </div>
      </div>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="col-md-4">
        <div class="card mb-2">
          <img  src="{% static 'images/w1.jpg'%}" class="avatar" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Zin Bin Zin </h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p class="card-text">The term paper was completed within the time frame. Amazingly, there was proper communication during working period.You real deserve a distinction</p>
            <!-- <a class="btn btn-primary">Button</a> -->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img  src="{% static 'images/k.jpg'%}" class="avatar" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Benjamin Edwards</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star "></span>
            <br>
                    <br>
                    <br>
            <p class="card-text">The paper was not badly done. The writer need to improve in paragraphing</p>
            <!-- <a class="btn btn-primary">Button</a> -->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img  src="{% static 'images/m.jpg'%}" class="avatar" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Chisung Shing</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br>
                    <br>
                    
            <p class="card-text"> Woow!! I never expected an "A" in economics and finance. It is through virtual writer kings that happened. Keep it up!</p>
            <!-- <a class="btn btn-primary">Button</a> -->
          </div>
        </div>
      </div>

    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    
    <div class="carousel-item">
      <div class="col-md-4">
        <div class="card mb-2">
          <img  src="{% static 'images/w2.jpg'%}" class="avatar" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Lilday Meshack</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br>
                    <br>
                    
            <p class="card-text">Amazing!! This is a site to trust. the services recieved are beyond satisfaction. I will recomend you forever</p>
           
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img  src="{% static 'images/w4.jpg'%}" class="avatar" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Dr Tina</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p class="card-text">I have confrimed that vitual writer kings is an academic zone number work. Indeed my research paper was wounderfully made. Congrats.</p>
           
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img  src="{% static 'images/l.jpg'%}" class="avatar" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Wine Dings</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <br>
                    <br>
                    <br>
                  
            <p class="card-text">An amazing work, all the directives were keenly followed until I couldn't ask for anything better. Thank you.</p>
            <!-- <a class="btn btn-primary">Button</a> -->
          </div>
        </div>
      </div>
     </div>
    </div>
    <!--/.Third slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
  
  <!-- Graduation Moments-->
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-md-12 col-lg-6">
      <h1 style="color: blue;">Good Moments Ever</h1>
      
      <p>Virtual Writer Kings allows you to factor out on how to create a great graduation event by thinking about dress code, speakers, awards, entertainment, refreshments, and streaming. It's part of our series on live streaming events.
        It’s that time of year again: colleges, high schools, junior highs, elementary schools and pre-schools are gearing up for their graduation ceremonies.
        These ceremonies, though entirely symbolic, are often included in the list of people’s most important life moments. They celebrate the culmination of tireless work, late nights, some failures, more successes, and individual growth.
        That means that as an organizer or a host of a graduation ceremony, there's a lot riding on your shoulders. Below are certain things you should consider to ensure your graduation ceremony is flawless.</P>

      <br>
    <!-- <a href="#" class="btn btn-primary">Learn More</a> -->

    </div>
    <div class="col-lg-6">
      <img src="{% static 'images/a.jpg' %}"lass="img-fluid">
    </div>
  </div>
</div>
    
  </div>
</div>
<!-- <main>
  <section class="section-1">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="pray">
            <img src="{% static 'images/c.jpg' %}" alt="Pray" class="" />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="panel text-left">
            <h1>Graduation Moments</h1>
            <p>
              Virtual Writer Kings allows you to factor out on how to create a great graduation event by thinking about dress code, speakers, awards, entertainment, refreshments, and streaming. It's part of our series on live streaming events.
                It’s that time of year again: colleges, high schools, junior highs, elementary schools and pre-schools are gearing up for their graduation ceremonies.
                These ceremonies, though entirely symbolic, are often included in the list of people’s most important life moments. That means that as an organizer or a host of a graduation ceremony, there's a lot riding on your shoulders.</P>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="section-3 container-fluid p-0 text-center">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>Download virtual Writer Kings App for all Platform</h1>
        <p>
          Virtual Writer Kings app is available for androind and windows. If interested feel free to download one.
        </p>
      </div>
    </div>
    <div class="platform row">
      <div class="col-md-6 col-sm-12 text-right">
        <div class="desktop shadow-lg">
          <div class="d-flex flex-row justify-content-center">
            <i class="fas fa-desktop fa-3x py-2 pr-3"></i>
            <div class="text text-left">
              <h3 class="pt-1 m-0">Desktop</h3>
              <p class="p-0 m-0">On website</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 text-left">
        <div class="desktop shadow-lg">
          <div class="d-flex flex-row justify-content-center">
            <i class="fas fa-mobile-alt fa-3x py-2 pr-3"></i>
            <div class="text text-left">
              <h3 class="pt-1 m-0">On Mobile</h3>
              <p class="p-0 m-0">On Play Store</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="class">
    <div class= "container">
    <h1> We Make Learning Easy</br>
    by </br>
    Eliminating Fear and Increasing Confidence</h1>
 
    </div>
    </section>
<!-- why always us -->
    <section id="Terms">
      <div class= "container">
      <h1 style="text-align: center";>Why Always Virtual Writer Kings</h1>
   </p>Any deadlines coming up, last-minute papers due, or have trivial tasks that the teacher assigned you? Never worry about any of these issues again! We offer the best essay service that will meet all your deadlines for any task. Our professionals are ready to complete your order and send it to you whenever you request it. Here are the top reasons why you should hire a writer from Virtual Writer Kings:</p>
   <ol>
   <li>We employ only professionals who hold higher education diplomas with years of writing experience.</li>
   <li>Our quality assurance protocol is something every author in-app is required to follow. </li>
   <li>Every essay writer we hire must follow a strict writing protocol issued by our quality assurance team. </li>
   <li>Writers never violate deadlines and follow the requirements of the customer. </li>
   <li>Our writer managers overlook the whole ordering process to make sure everything is done correctly and by the customer’s requirements. .</li>
   <li>Our writers will always strictly follow your guidelines and meet your deadlines. </li>
   <li>We offer a 24⁄7 customer support team ready to assist you with any questions you may have. </li>
   <li>Papers are delivered on time every time to our customers. </li>
   <li>Papers can be downloaded immediately after the order is complete. .</li>
   </ol>
   
   <p>We offer unlimited revisions to your papers up to 30 days of the completed order. Because of our revision policy, our customers are never dissatisfied with the final draft of the paper they receive. We try our best to satisfy every customer, so whenever a problem arises, we try our best to solve it at that moment. You can be confident you made the right choice when ordering from us.</p>
   
      </section>
  
     
      
{% endblock content %}