{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h2 style="text-align: center;"><span style="color: palegreen;">Zeph Zephy's Profile</span></h2>
<div class="team row ">
    <div class="col-md-4 col-12 text-center">
        <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
                <img class="card-imd-top" src="{% static 'images/omuga.jpg' %}" class="img-fluid rounded-circle w-50 p-4" alt="">
            </div>
            <div class="card-body">
              <h3 class="card-title">Zeph Zephy</h3>
              <p class="card-text">
                <p class="text-black-50">Chief Officer Billing Department</p>
                
             
              <p>Proffessional mentor with about 8 years of experience</p>
            </div>
        </div>
      </div>
  </div>
              <p>I am an experienced and qualified essay writer with extensive knowledge in many fields. I believe that excellent essay writing services should be a combination of quality work, creative writing, and brilliance that meets customer's expectations. As a high-flying writer, I must deliver the timely work of the highest quality. My paper writing services have been proven to be excessively satisfactory which allows me to customize work within a range of subject areas such as political science, law, philosophy, liberal arts, history, religion, business, and psychology. The other areas that I handle expertly include sociology, health care, nursing, and general knowledge application essays. Throughout my services, I am always committed to seeing that I have followed all the instructions as I strive to meet the stated deadline as well.</p>
<p> When I am hired for any assignment, there are several elements about the essay that I always assure the client. I guarantee that the content within the academic work fulfills the customer's requirements and the instructions according to the paper. To this end, I wholeheartedly promise my customers a high-quality, high-grade, and timely delivered paper. Bearing in mind that these papers are graded academically, I ensure that they abide by the tenets of academic writing. Therefore, the submission of plagiarism-free papers is assured since I use multiple tools such as Turnitin to check all the custom essays. I also remain professional throughout the work. This point implies that I habitually use the recommended materials when it comes to outsourcing; I can access most of the academic libraries, and this makes my work easier. </p>
<p>As an experienced essay writer, I expertly handle different types of papers. Having written over 1000 term papers, essays, proposals, thesis, dissertations, and reports amongst others, I am sure that I can handle all your academic papers and exceed your specific expectations. Furthermore, I adequately understand the structure of each content area, so I assure the client minimal issues when it comes to paper structuring. Also, I can comfortably write a quality paper in any way the client requires as long as the instructions are clear. Another essential part that I strictly observe is citation styles. I am capable of writing in all the academic writing styles, including APA, AMA, ASA, MLA, Harvard, Chicago, or Oxford. </p>
<p>Having stayed in the industry for long, I am adequately conversant with academic dishonesty among other ethical issues. All through the writing process, I observe originality, and my work is plagiarism-free regardless of the circumstances. As a way of enhancing quality, I also proofread to ensure that there are no grammar errors. If you hire me, I promise always to deliver first-rate, creative, and exciting to read essays. At all times, I am available for any assignment and for revision irrespective of time and the day.</p>
</div>
            


{% endblock content %}