@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

body{
 margin: 0;
 padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial';
  font-size: 16px;
  color: #222;
}
/*-- header correction----*/
header .highlight, header .current a{
 color:#5383d3;
 font-weight:bold;
}
.navbar{
  padding: 2rem;
}
.navbar-nav li{
  padding-right: 20px;
}

.nav-link{
  font-size: 1.2em !important;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}
.carousel-caption{
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
}

.carousel-caption h1{
 font-size: 200%;
 text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
 font-size: 200%;
 font-weight: 500%;
 text-shadow: 1px 1px 10px #000;
}
.jumbotron{
 padding: 1rem;
 border-radius: 0;
}

.padding{
 padding-bottom: 2rem;
}
.welcome{
 width: 75%;
 margin: 0 auto;
 padding-top: 2rem;
}

.welcome hr{
 border-top: 2px solid #b4b4b4;
 width: 95%;
 margin-top: 3rem;
 margin-bottom: 1 rem;
}
.social a{
 font-size: 4.5em;
 padding: 20px;
}

.section-3 .desktop {
 background: white;
 display: inline-block;
 border-radius: 3em;
 padding: 2vmin 4.5vmin;
 margin: 1em;
}

.section-3 .desktop h3 {
 font-size: 4vmin;
}

.section-3 .desktop p {
 font-size: 2vmin;
}

/* confidence class */
#class{
background:url({% static 'images/confidence.jpg' %}) no-repeat;
background-size: cover;
min-height: 400px;
color: #ffffff;
text-align: center;
}
 
.terms{
width: 80%;
margin: 0;
overflow: hidden;
}


.section-1 {
 padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
 opacity: 0.8;
 width: 80%;
 border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
 position: relative;
}
/* section 1 */
.section-1 .row .col-md-6 .panel {
 position: absolute;
 top: -24vmin;
 left: -15vmin;
 background: white;
 border-radius: 3px;
 text-align: left;
 padding: 13vmin 5vmin 20vmin 10vmin;
 box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
 font-family: var(--Rubik);
 z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
 font-weight: bold;
 padding: 0.4em 0;
 font-size: 1.1em;
}

.section-1 .row .col-md-6 .panel p {
 font-size: 0.5em;
 color: rgba(0, 0, 0, 0.5);
}
/* Header */

/*---footer---- */

.main {
 max-height: 550px;;
 background-color: #292c2f;
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 38pt;
 text-align: center;
 line-height: 550px;
}
footer{

 bottom: 0;
}
.footer-distributed{
 background-color: #292c2f;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: 16px arial;

 padding: 55px 50px;
 margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}

.footer-distributed .footer-left{
 width: 40%;
}

.footer-distributed h3{
 color:  #ffffff;
 font: normal 36px 'Cookie', cursive;
 margin: 0;
}

.footer-distributed h3 span{
 color:  #5383d3;
}


.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 20px 0 12px;
 padding: 0;
}

.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 color:  inherit;
}

.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 16px;
 font-weight: normal;
 margin: 0;
}


.footer-distributed .footer-center{
 width: 35%;
}

.footer-distributed .footer-center i{
 background-color:  #33383b;
 color: #ffffff;
 font-size: 25px;
 width: 38px;
 height: 38px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 margin: 10px 15px;
 vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}

.footer-distributed .footer-center p{
 display: inline-block;
 color: #ffffff;
 vertical-align: middle;
 margin:0;
}

.footer-distributed .footer-center p span{
 display:block;
 font-weight: normal;
 font-size:16px;
 line-height:2;
}

.footer-distributed .footer-center p a{
 color:  #5383d3;
 text-decoration: none;;
}

.footer-distributed .footer-right{
 width: 20%;
}

.footer-distributed .footer-company-about{
 line-height: 20px;
 color:  #92999f;
 font-size: 13px;
 font-weight: normal;
 margin: 0;
}

.footer-distributed .footer-company-about span{
 display: block;
 color:  #ffffff;
 font-size: 14px;
 font-weight: normal;
 margin-bottom: 20px;
}

.footer-distributed .footer-icons{
 margin-top: 25px;
}

.footer-distributed .footer-icons a{
 display: inline-block;
 width: 35px;
 height: 35px;
 cursor: pointer;
 background-color:  #33383b;
 border-radius: 2px;

 font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;

 margin-right: 3px;
 margin-bottom: 5px;
}


@media (max-width: 768px) {

 .footer-distributed{
   font:  14px arial;
 
 }

 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
   display: block;
   width: 100%;
   margin-bottom: 40px;
   text-align: center;
 }

 .footer-distributed .footer-center i{
   margin-left: 0;
 }
 .main {
   line-height: normal;
   font-size: auto;
 }

}
@media(max-width: 768px){
 header #branding,
 header nav,
 header nav li,
 #newsletter h1,
 #newsletter form,
 #boxes .box,
 article#main-col,
 aside#sidebar{
   float:none;
   text-align:center;
   width:100%;
 }

 header{
   padding-bottom:0px;
 }

 #showcase h1{
   margin-top:40px;
 }

 #newsletter button, .quote button{
   display:block;
   width:100%;
 }

 #newsletter form input[type="email"], .quote input, .quote textarea{
   width:100%;
   margin-bottom:5px;
 }
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
 .text {font-size: 11px}
}


/* <!-- media quaries --> */
@media (max-width: 992px){}

@media (max-width: 768px){}

@media (max-width: 576px){}

/* <!-- Firefox Bug Fix --> */
.carousel-item{
   transition: -webkit-transform 0.5s ease;
   transition: transform 0.5s ease;
   transition: transform 0.5s ease, -webkit-transform 0.5s ease;
   -webkit-backface-visibility: visible;
   backface-visibility: visible;
}

/* <!-- Fixed Background Image --> */
figure{
   position: relative;
   width: 100%;
   height: 60%;
   margin: 0! important;
}

.fixed-wrap{
   clip: rect(0, auto, auto, 0);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

#fixed{
 background:url({% static 'images/confidence.jpg' %}) no-repeat;
   position: fixed;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translate(0);
            transform: translate(0);
   will-change: transform;

}

/* essaypro media quaries  */
@media screen and (max-width: 1280px) {
  .w-nav-menu, .w-slider-arrow-right, .w-slider-arrow-left {
    display: none;
  }
  .w-nav-button {
    display: block;
    background-color: transparent!important;
  }
  .nav-menu {
     max-height: 90vh;
     margin-right: 0;
     padding-bottom: 12px;
     border-bottom: 1px solid #e3e3e3;
  }

  [data-nav-menu-open] {
     background-color: #fff!important;
      border-bottom: 1px solid #e3e3e3;
  }
  .wrapper, .navigation {
    padding-right: 0!important;
    padding-left: 0!important;
  }
  .nav-link, .nav-link:hover, .nav-link, .nav-link.w--current {
  color: #574b8a;
  }
  .nav-link-2 {
    margin-bottom: -1px;
    padding: 16px 24px;
    border-radius: 0;
  }
  .nav-dropdown-icon {
    display: inline-block;
    margin-right: 24px;
    color: #d1d1d1;
    font-size: 15px;
  }
  .nav-dropdown-link {
    padding-left: 24px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    color: #574b8a;
  }
  .dropdown-list.w--open {
    position: relative;
    z-index: 1;
    margin-top: -1px;
    margin-left: 0;
    padding: 0 16px 8px;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 1px 0 0 hsla(0,0%,100%,.12);
  }
}